body{
    background-color: black;
    color: rgb(151, 24, 209);
    margin: 0px;
}

header{
    border-bottom: inset 3px rgb(231, 236, 93);
    padding: 15px;
    font-size: 30px;
    color: rgb(240, 207, 16)
}

h1{
    padding: 10px;
    font-size: 20px;
    color: rgba(255, 156, 8, 0.753)
}

p{
    padding: 5px;
    font-size: 15px;
    color: rgb(243, 24, 196)
}